



[catalog-test]

# KBase user accounts for testing (should be different accounts)
test-user-1 = 
test-user-2 = 

# Example repos for testing
test-module-repo-1 = https://github.com/kbaseIncubator/onerepotest

# host where mongo lives, e.g. localhost:27017, for tests there should be not authentication required
mongodb-host = localhost:27017
docker-registry-host = dockerhub-ci.kbase.us

# name of the workspace mongo database
# WARNING: this gets wiped at the end, although should be safe because will error if collections are not 
#          emtpy at startup
mongodb-database = catalog-test

# Path to docker socket/host
docker-base-url = unix://var/run/docker.sock
# for tcp: "tcp://host:port"

#Narrative Method Store configuration
nms-url = 
nms-admin-user =
nms-admin-psswd = 
