#Note for running tests, if on the same dev machine as the narrative, you may have to remove the biokbase egg
#created by the narrative (rm -rf /usr/local/lib/python2.7/site-packages/biokbase-0.0.1-py2.7.egg)

# TO RUN TESTS:
#  1) copy this file to test.cfg
#  2) fill in the mongodb-host url in both [catalog-test] and [NarrativeMethodStore]
#  3) set the nms-admin-user and nms-admin-password to a kb user that matches the 
#      method-spec-admin-users list in [NarrativeMethodStore section]
# 

[catalog-test]

# user accounts for testing (should be different accounts)
test-user-1 = wstester1
test-user-2 = wstester2

# Example repos for testing
test-module-repo-1 = https://github.com/kbaseIncubator/catalog_test_module
test-module-repo-2 = https://github.com/kbaseIncubator/catalog_test_module.git

# host where mongo lives, e.g. localhost:27017, for tests there should be not authentication required
mongodb-host = localhost:27017

# docker registry host endpoint
docker-registry-host = localhost:5000

# name of the mongo database
# WARNING: this will get wiped!  Don't run tests against something that you may want to keep!
mongodb-database = catalog-test

# Path to docker socket/host - you can leave this blank if you have the appropriate docker env variables defined
docker-base-url = unix://var/run/docker.sock

# temporary fix for travis- no longer needed
docker-push-allow-insecure = 0

#Narrative Method Store configuration
nms-url = http://localhost:7125
nms-admin-user = wstester4
nms-admin-psswd = 

# configs for reference data
ref-data-base = /kb/data
kbase-endpoint = https://ci.kbase.us/services


[NarrativeMethodStore]

method-spec-mongo-host = localhost:27017
method-spec-admin-users = wstester4

method-spec-git-repo-local-dir = nms/local_narrative_method_specs
method-spec-temp-dir = nms/scratch

method-spec-git-repo = https://github.com/kbase/narrative_method_specs
method-spec-git-repo-branch = develop
method-spec-git-repo-refresh-rate = 2000
method-spec-cache-size = 5000
method-spec-mongo-dbname = method_store_repo_db



